:root {
  --font-size-heading-xl: 2.25rem;
  --font-size-heading-lg: 1.875rem;
  --font-size-heading-md: 1.5rem;
  --font-size-heading-sm: 1.25rem;
  --font-size-body-lg: 1.125rem;
  --font-size-body-md: 1rem;
  --font-size-body-sm: 0.875rem;
  --font-size-body-xs: 0.75rem;

  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
